h1{
  background-color:rgba(255,255,0,0.3);
  color:#8b0000;
  font-size:3em;
  border: 2px solid black;
  text-align:center;
}
p.fancy{
  color:#8b0000;
    font-style: oblique;
}
li{
  color:#e600ac;
  font-size:30px;
  font-style: oblique;
}
h2{
  background-color:#ffe6f9;
  color:#4d0099;
  font-size:3em;
  border:2px solid black;
}
body.fancy{
  background-color:#ffffcc;
}
h3{
  color:#4d0099;
  background-color:#ffe6f9;
  font-size:3em;
  border:2px solid black;
}
body.subtle{
  background-color:#ffffcc;
}
body.pretty{
  background-color:#f7e6ff;
}
table, th, td {
  border: 1px solid black;
}
h4{
  color:#7a00cc;
  background-color:#ffe6f9;
  border:2px solid black;
}
table.awesome{
  background-color:#ffccff;
}
p.cool{
  border:2px solid black;
  color:#8b0000;
}
p.amazing{
  color:#4d0099;
  border:2px solid black;
  font-size:20px;
}
p.neato{
  color:#e600e6;
}
