h1{
  background-color:rgba(255,255,0,0.3);
  color:#8b0000;
  font-size:3em;
  border: 2px solid black;
}
p.fancy{
  color:#666;
    font-style: oblique;
}
li{
  color:#e600ac;
  font-size:30px;
  font-style: oblique;
}
h2{
  background-color:#ffe6f9;
  color:#4d0099;
  font-size:3em;
  border:2px solid black;
}
body.fancy{
  background-color:#ffffcc;
}
h3{
  color:#4d0099;
  background-color:#ffe6f9;
  font-size:3em;
  border:2px solid black;
}
